.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: var(--mantine-spacing-md);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.chats {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.footer > div {
  flex: 1;
}

.layout {
  display: flex;
  height: 100vh;
}

.layout > main {
  @mixin smaller-than $mantine-breakpoint-md {
    display: none;
  }
}

.dynamic {
  width: 100%;
}

.dynamic main {
  @mixin larger-than $mantine-breakpoint-md {
    display: none;
  }
}

.dynamic .ghost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
  @mixin smaller-than $mantine-breakpoint-md {
    display: none;
  }
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}
